.container--componente {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5f5;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container--componente img {
  width: 75%;
  border-radius: 35px;
  box-shadow: 0px 2px 10px rgba(15, 15, 15, 0.5);
  position: static;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 20px;
}

.container--formulario {
  padding: 4px;
}

.container--formulario h2 {
  margin-bottom: 20px;
  font-family: "Lilita One";
}

.separator {
  text-align: left;
  position: relative;
  font-size: 0.7rem;
  color: gray;
}

.container--datos {
  font-family: "Lilita One";
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  padding: 10px;
  margin-right: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hidden {
  display: none;
}

#enviar {
  width: 150px;
  height: 45px;
  background-color: #ff6f61;
  color: white;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  margin-left:100px;
  font-family: 'Lilita One'
}

#enviar:hover {
  background-color: #ff4a39;
  transform: scale(1.05);
}

#enviar:active {
  background-color: #ff2a10;
  transform: scale(0.98);
}

/*
#enviar {
  font-family: "Lilita One";
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
  color: white;
  background-color: #ff6f61;
  border: solid #ff6f61 2px;
}

#enviar:hover {
  color: #ff6f61;
  background-color: white;
  border: solid #ff6f61 2px;
  transition-duration: 0.3s;
}
*/
