.home-container {
  background-color: #1e9dba;
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
  align-items: center;
  height: 510px;
}

.home-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Lilita One", sans-serif;
  color: #fff;
  font-size: 48px;
}

.search-section h2 {
  font-family: "Lilita One", sans-serif;
  margin-bottom: 10px;
  font-size: 36px;
}

.search-section p {
  margin: 5px 0;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.search-section {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
}

.search-section img {
  margin: 10px;
}

.buscador {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.home-right {
  width: 45%;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-masc a img {
  margin-left: 40px;
}

.search-component {
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
  width: 150px;
  height: 45px;
  background-color: #FF6F61;
  color: white;
  font-size: 16px;
  font-family: 'Lilita One', sans-serif;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 20px;
}

.btn:hover {
  background-color: #FF4A39;
  transform: scale(1.05);
}

.btn:active {
  background-color: #FF2A10;
  transform: scale(0.98);
}
